@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #c1af93;
    text-align: center;
    color: #ffefcf;
}
h1{
    padding-top: 40px;
    font-size: 8vw;
    font-family: "Passion One";
    font-weight: normal;
}
.autor{
    padding-bottom: 40px;
}
section{
    line-height: 3.5em;
    font-size: 3vw;
    padding: 40px;
    font-family: "Sriracha" ;
    font-weight: lighter;
}
section > p{
    background-color: rgba(0, 0, 0, 0.26);
     padding: 5px;
     text-shadow: 1px 1px 1px black;
}
.img{
    background-color: gray;
    color: white;
    background-size: cover;
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.432);
    background-attachment: fixed;
}
section#img01{
    background-image: url(../imagens/simiao.webp);
    
}
section#img02{
    background-image: url(../imagens/foga-egito.webp);
    
}
section#img03{
    background-image: url(../imagens/santa-terezinha.webp);
    
}
strong{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer{
    background-color: #c1af93;
    text-align: center;
    color: #ffefcf;
    padding: 5px;
}
